@media screen {
    header nav .history-logs::before,
    .history-logs .subhead::before {
        content:"";
    }
    .history-logs .no-resources:before {
        content:"";
    }
    #annotate .no-resources:before {
        content:"";
    }

    .browse .history-log .operation span.tablesaw-cell-content {
        display: block;
    }

    table#table-history-log tr table {
        border-top: 0;
        border-bottom: 0;
    }
    table#table-history-log tr table tbody tr:last-of-type td {
        border-bottom: 0;
    }
}
