<phpunit bootstrap="test/bootstrap.php"
         colors="true"
         backupGlobals="false"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="History Log">
            <directory>./test/HistoryLogTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
